# Working with RSS Feeds Lab

Complete the following set of exercises to solidify your knowledge of parsing RSS feeds and extracting information from them.

In [74]:

import feedparser
import re

### 1. Use feedparser to parse the following RSS feed URL.

In [75]:
url = 'http://feeds.feedburner.com/oreilly/radar/atom'

In [76]:
url_1 = feedparser.parse('http://feeds.feedburner.com/oreilly/radar/atom')
#url_1
url_1.keys()

url_1['feed'].keys()

url_1['feed']['title']
url_1['feed']['subtitle']
url_1['feed']['link']

len(url_1['entries'])

60

### 6. Obtain a list of components (keys) available for an entry.

*Hint: Remember to index first before requesting the keys*

In [77]:
url_1['entries'][0].keys()

dict_keys(['title', 'title_detail', 'links', 'link', 'comments', 'published', 'published_parsed', 'authors', 'author', 'author_detail', 'tags', 'id', 'guidislink', 'summary', 'summary_detail', 'content', 'wfw_commentrss', 'slash_comments', 'feedburner_origlink'])

### 7. Extract a list of entry titles.

In [78]:
titles = [url_1['title'] for url_1 in url_1['entries']]
titles[:10]

['Four short links: 30 Oct 2020',
 'Four short links: 28 Oct 2020',
 'Our Favorite Questions',
 'Four short links: 21 Oct 2020',
 'Four Short Links: 16 October 2020',
 'Four short links: 14 Oct 2020',
 'AI Product Management After Deployment',
 'Four short links: 9 October 2020',
 'AI and Creativity',
 'Four short links: 6 October 2020']

### 8. Calculate the percentage of "Four short links" entry titles.

In [79]:
x = 0
for title in titles:
    if 'Four short links' in title:
        x +=1
        
p = 100* x / len(titles)

print(f'{p}%')

68.33333333333333%

### 9. Create a Pandas data frame from the feed's entries.

In [86]:
import pandas as pd
from pandas.io.json import json_normalize

In [88]:
df = pd.json_normalize(url_1['entries'])
df.head()

,title,links,link,comments,published,published_parsed,authors,author,tags,id,...,feedburner_origlink,title_detail.type,title_detail.language,title_detail.base,title_detail.value,author_detail.name,summary_detail.type,summary_detail.language,summary_detail.base,summary_detail.value
0,Four short links: 30 Oct 2020,"[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://feedproxy.google.com/~r/oreilly/radar/a...,https://www.oreilly.com/radar/four-short-links...,"Fri, 30 Oct 2020 11:05:49 +0000","(2020, 10, 30, 11, 5, 49, 4, 304, 0)",[{'name': 'Nat Torkington'}],Nat Torkington,"[{'term': 'Four Short Links', 'scheme': None, ...",https://www.oreilly.com/radar/?p=13385,...,https://www.oreilly.com/radar/four-short-links...,text/plain,None,http://feeds.feedburner.com/oreilly/radar/atom,Four short links: 30 Oct 2020,Nat Torkington,text/html,None,http://feeds.feedburner.com/oreilly/radar/atom,"Mutation Testing &#8212; in this paper, we sem..."
1,Four short links: 28 Oct 2020,"[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://feedproxy.google.com/~r/oreilly/radar/a...,https://www.oreilly.com/radar/four-short-links...,"Wed, 28 Oct 2020 11:39:13 +0000","(2020, 10, 28, 11, 39, 13, 2, 302, 0)",[{'name': 'Nat Torkington'}],Nat Torkington,"[{'term': 'Four Short Links', 'scheme': None, ...",https://www.oreilly.com/radar/?p=13382,...,https://www.oreilly.com/radar/four-short-links...,text/plain,None,http://feeds.feedburner.com/oreilly/radar/atom,Four short links: 28 Oct 2020,Nat Torkington,text/html,None,http://feeds.feedburner.com/oreilly/radar/atom,"Phantom of the ADAS &#8212; In this paper, we ..."
2,Our Favorite Questions,"[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://feedproxy.google.com/~r/oreilly/radar/a...,https://www.oreilly.com/radar/our-favorite-que...,"Thu, 22 Oct 2020 14:33:17 +0000","(2020, 10, 22, 14, 33, 17, 3, 296, 0)","[{'name': 'Q Ethan McCallum, Chris Butler and ...","Q Ethan McCallum, Chris Butler and Shane Glynn","[{'term': 'AI & ML', 'scheme': None, 'label': ...",https://www.oreilly.com/radar/?p=13374,...,https://www.oreilly.com/radar/our-favorite-que...,text/plain,None,http://feeds.feedburner.com/oreilly/radar/atom,Our Favorite Questions,"Q Ethan McCallum, Chris Butler and Shane Glynn",text/html,None,http://feeds.feedburner.com/oreilly/radar/atom,"&#8220;On peut interroger n&#8217;importe qui,..."
3,Four short links: 21 Oct 2020,"[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://feedproxy.google.com/~r/oreilly/radar/a...,https://www.oreilly.com/radar/four-short-links...,"Wed, 21 Oct 2020 11:34:42 +0000","(2020, 10, 21, 11, 34, 42, 2, 295, 0)",[{'name': 'Nat Torkington'}],Nat Torkington,"[{'term': 'Four Short Links', 'scheme': None, ...",https://www.oreilly.com/radar/?p=13376,...,https://www.oreilly.com/radar/four-short-links...,text/plain,None,http://feeds.feedburner.com/oreilly/radar/atom,Four short links: 21 Oct 2020,Nat Torkington,text/html,None,http://feeds.feedburner.com/oreilly/radar/atom,Justice Department Antitrust Filing Against Go...
4,Four Short Links: 16 October 2020,"[{'rel': 'alternate', 'type': 'text/html', 'hr...",http://feedproxy.google.com/~r/oreilly/radar/a...,https://www.oreilly.com/radar/four-short-links...,"Fri, 16 Oct 2020 11:21:43 +0000","(2020, 10, 16, 11, 21, 43, 4, 290, 0)",[{}],,NaN,https://www.oreilly.com/radar/?p=13371,...,https://www.oreilly.com/radar/four-short-links...,text/plain,None,http://feeds.feedburner.com/oreilly/radar/atom,Four Short Links: 16 October 2020,NaN,text/html,None,http://feeds.feedburner.com/oreilly/radar/atom,Automerge &#8212; (Github) Data structure libr...

### 10. Count the number of entries per author and sort them in descending order.

In [82]:
df['author'].value_counts()


authors = df['author_detail'].astype('str').tolist()
a = []
row = []
for entry in authors:
    row = []
    for i in entry.split(', '):
        row.extend(i.split(' and '))
    a.extend(row)
# a_set = set([i for i in a if i != 'nan'])
a_set = set(a)

c = []
for author in a_set:
    c.append((author,a.count(author)))
c.sort(key = lambda x: x[1], reverse = True)

c = pd.DataFrame(c)
c.columns = ['Author','Appearances']
c.set_index('Author')

                             Appearances
Author
{'name': 'Nat Torkington'}            42
{'name': 'Mike Loukides'}              9
Mike Loukides'}                        3
{'name': 'Q Ethan McCallum             2
{'name': 'Justin Norman                2
{'name': 'Sarah Gold'}                 1
nan                                    1
Steve Swoyer'}                         1
{'name': 'Alex Castrounis'}            1
Chris Butler                           1
{'name': 'Mike Loukides                1
Hugo Bowne-Anderson'}                  1
Shane Glynn'}                          1
Peter Skomoroch                        1
{'name': 'Matthew Rocklin              1

### 11. Add a new column to the data frame that contains the length (number of characters) of each entry title. Return a data frame that contains the title, author, and title length of each entry in descending order (longest title length at the top).

In [83]:


df['title'] 
df['title_len'] = df['title'].apply(lambda x: len(x))
#df['title_len']

df_2 = df[['title', 'author', 'title_len']]
df_3 = df_2.sort_values(by = 'title_len', ascending = False)
df_3.head()

,title,author,title_len
28,Why Best-of-Breed is a Better Choice than All-...,Matthew Rocklin and Hugo Bowne-Anderson,79
55,Automated Coding and the Future of Programming,Mike Loukides,46
6,AI Product Management After Deployment,Justin Norman and Mike Loukides,38
30,The Least Liked Programming Languages,Mike Loukides,37
22,Radar trends to watch: September 2020,Mike Loukides,37

### 12. Create a list of entry titles whose summary includes the phrase "machine learning."

In [101]:
df['summary_detail.value'] = df['summary_detail.value'].astype('str')
df['summary_detail.value'] = df['summary_detail.value'].apply(lambda x: re.sub('.{2}\d*;', '', x))
df_4 = df.loc[df['summary_detail.value'].apply(lambda x: 'machine learning' in x.lower())]
lista = df_4['title'].tolist()
lista

['Four short links: 21 August 2020', 'Four short links: 8 July 2020']